<div class="row">
  <div>
    <h2>Welcome, {{username}}!</h2>
  </div>
</div>

<div>
  <div>
    <h3>Post a New Review</h3>

    <form class="form new-review-form">
      <div class="form-group">
        <label for="review-name">review title:</label>
        <input class="form-input" type="text" id="review-name" name="review-name" />
      </div>
      <div class="form-group">
        <label for="review-desc">description:</label>
        <textarea class="form-input" id="review-desc" name="review-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if reviews.length}}
  <div>
    <h3>Current Reviews:</h3>

    {{#each reviews as |review|}}
    <div>
      <div>
        <h4><a href="/review/{{review.id}}">{{review.review_title}}</a></h4>
      </div>
      <div>
        <button class="btn" data-id="{{review.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/dashboard.js"></script>
